<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'app.core.title'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
        {% if asset_exists('bundles/app/js/translations/translations.' ~ app.request.locale ~ '.js') %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/translations/translations.' ~ app.request.locale ~ '.js') }}"></script>
        {% else %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/translations/translations.en.js') }}"></script>
        {% endif %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap Table files -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-table.css') }}">
        <script src="{{ asset('bundles/app/js/Bootstrap-table/bootstrap-table.js') }}"></script>
        <script src="{{ asset('bundles/app/js/Bootstrap-table/extensions/export/bootstrap-table-export.js') }}"></script>
        <script src="{{ asset('bundles/app/js/Bootstrap-table/extensions/export/tableExport.js') }}"></script>
        <script src="{{ asset('bundles/app/js/Bootstrap-table/extensions/export/jquery.base64.js') }}"></script>

        <!-- YouTube-like ¨Progress bar -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/nprogress.css') }}">
        <script src="{{ asset('bundles/app/js/nprogress.js') }}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
        <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>-->
        <script type="text/javascript" src="{{ asset('bundles/pugxautocompleter/js/autocompleter.js') }}"></script>


    </head>
    <body>
        <script type="text/javascript">
            NProgress.start();
            NProgress.done();
        </script>
        <div class="wrap">
            {% if app.user %}
                {% block menu %}
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{{ path('homepage') }}" title="{{ app.session.get('organisation') }} - {{ app.session.get('department') }}"><span class="glyphicon glyphicon glyphicon-home hidden-lg"></span><span class="hidden-md hidden-sm"> {{ app.session.get('organisation')|capitalize }} - {{ app.session.get('department')|capitalize }}</span></a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    {#<li role="presentation" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">{{ 'app.menu.home'|trans }}</a></li>#}
                                    <li role="presentation"><a href="#" title="{{ 'app.menu.tasks'|trans }}"><span class="glyphicon glyphicon glyphicon-tasks hidden-lg"></span><span class="hidden-md hidden-sm"> {{ 'app.menu.tasks'|trans }}</span></a></li>
                                    {% if 'ROLE_USER+' in app.session.get('roles') %}
                                        <li role="presentation"><a href="{{ path('dossier') }}" title="{{ 'app.menu.dossiers'|trans }}"><span class="glyphicon glyphicon glyphicon-briefcase hidden-lg"></span><span class="hidden-md hidden-sm"> {{ 'app.menu.dossiers'|trans }}</span></a></li>
                                    {% endif %}
                                    {% if 'ROLE_USER++' in app.session.get('roles') %}
                                    <li role="presentation"><a href="#" title="{{ 'app.menu.agendas'|trans }}"><span class="glyphicon glyphicon glyphicon-calendar hidden-lg"></span><span class="hidden-md hidden-sm"> {{ 'app.menu.agendas'|trans }}</span></a></li>
                                    {% endif %}
                                    {% if 'ROLE_USER+++' in app.session.get('roles') %}
                                    <li role="presentation"><a href="#" title="{{ 'app.menu.meetings'|trans }}"><span class="glyphicon glyphicon glyphicon-blackboard hidden-lg"></span><span class="hidden-md hidden-sm"> {{ 'app.menu.meetings'|trans }}</span></a></li>
                                    {% endif %}
                                    {% if 'ROLE_ADMIN' in app.session.get('roles') or 'ROLE_SUPER_ADMIN' in app.session.get('roles') %}
                                        <li role="presentation" class="{% if app.request.attributes.get('_route') == 'admin' %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon glyphicon-wrench hidden-lg"></span><span class="hidden-md hidden-sm"> {{ 'app.menu.admin'|trans }}</span></a></li>
                                    {% endif %}
                                </ul>
                                {{ render(controller('AppBundle:Search:index')) }}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle profilePictureMenu" data-toggle="dropdown" role="button" aria-expanded="false">{{ render(controller('AppBundle:Default:photo')) }} {{ app.user.firstName }}<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">

                                            <li><a href="{{ path('profile', {'username': app.user.username}) }}"><span class="glyphicon glyphicon-user"></span> {{ 'app.menu.my_profile'|trans }}</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> {{ 'app.menu.messages'|trans }}</a></li>
                                            <li><a href="{{ path('settings') }}"><span class="glyphicon glyphicon-cog"></span> {{ 'app.menu.settings'|trans }}</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-book"></span> {{ 'app.menu.manual'|trans }}</a></li>
                                            <li class="divider"></li>
                                            <li role="presentation"><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'app.menu.logout'|trans }}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </nav>
                {% endblock %}
            {%  endif %}
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible" role="success">
                        <button type="button" class="close" data-dismiss="success" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
            <div id="push"></div>
        </div>
        {% if app.user %}
        <footer>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://www.atait.be" title="{{ 'app.core.company'|trans }}">&copy; {{ 'app.core.company'|trans }}</span></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            <!--<li role="presentation"><a href="http://www.atait.be">&copy; {{ 'app.core.company'|trans }}</a></li>-->
                            <li role="presentation"><a href="{{ path('report') }}">{{ 'app.core.report_problem'|trans }}</a></li>
                        </ul>
                        {{ render(controller('AppBundle:Default:organisation')) }}
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </footer>
        {% endif %}
        {% block javascripts %}{% endblock %}<script type="text/javascript">
            $(window).load(function(){
                $('.modal').modal('show');
            });
            $('#sidebar').affix({
                offset: {
                    top: $('header').height()
                }
            });
        </script>
        <script type="text/javascript">
            $(function() {
                $("#form_photo").on("change", function()
                {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                    if (/^image/.test( files[0].type)){ // only image file
                        var reader = new FileReader(); // instance of the FileReader
                        reader.readAsDataURL(files[0]); // read the local file

                        reader.onloadend = function(){ // set image data as background of div
                            $("#imagePreview").css("background-image", "url("+this.result+")");
                        }
                    }
                });
            });
        </script>
    </body>
</html>
