{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="form-group">
            <h1>{{ 'app.error.conflict_detected'|trans }}</h1>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{ 'app.messages.user_detected_with_same_username_or_email'|trans }}</p>
                    <div class="col-sm-4 col-sm-offset-1 panel panel-default">
                        <div class="panel-body">
                            <h3>{{ 'app.user.existing_user'|trans }}</h3>
                            <p>
                                {{ 'app.form.name'|trans }}: {{ existingUser.firstName }} {{ existingUser.lastname }}<br />
                                {{ 'app.form.email'|trans }}: {{ existingUser.email }}<br />
                                {{ 'app.entity.organisation'|transchoice(10) }}:
                            </p>
                            <ul>
                                {% for group in existingUser.groups %}
                                    {% if group.type == 'Organisation' %}
                                        <li>{{ group.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 panel panel-default">
                        <div class="panel-body">
                            <h3>{{ 'app.user.new_user'|trans }}</h3>
                            <p>
                                {{ 'app.form.name'|trans }}: {{ user.firstname }} {{ user.lastname }}<br />
                                {{ 'app.form.email'|trans }}: {{ user.email }}<br />
                                {{ 'app.entity.organisation'|transchoice(10) }}:
                            </p>
                            <ul>
                                {% for group in user.groups %}
                                    {% if group.group.type == 'Organisation' %}
                                        <li>{{ group.group.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="btn-group">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_row(form.merge) }}
                    {{ form_row(form.no_merge) }}
                    {{ form_row(form.abort) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
