{% extends "base.html.twig" %}
{% block stylesheets %}
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}
{% block body %}
        {#<!--<div class="row vertical-center">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'app.form.please_sign_in'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post" accept-charset="UTF-8" role="form" autocomplete="off">
                            <fieldset>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" name="_username" placeholder="{{ 'app.form.username'|trans }}" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="password" autocomplete="off" class="form-control" id="password" name="_password" placeholder="{{ 'app.form.password'|trans }}" required="required" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}" />
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                </div>
                                <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->#}
    <div class="container">
        <form action="{{ path("fos_user_security_check") }}" id="loginForm" method="post" accept-charset="UTF-8" role="form" class="form-signin" data-toggle="validator">
            <h2 class="form-signin-heading">{{ 'app.form.please_sign_in'|trans }}</h2>
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="success">
                    <button type="button" class="close" data-dismiss="success" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
            <label for="inputEmail" class="sr-only">{{ 'app.form.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="_username" placeholder="{{ 'app.form.username'|trans }}" required autofocus />
            <input type="password" autocomplete="off" class="form-control" id="password" name="_password" placeholder="{{ 'app.form.password'|trans }}" required />
            {{ form_row(form.captcha) }}
            <a href="{{ path('fos_user_resetting_request') }}">Wachtwoord vergeten?</a>
            <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
        </form>
    </div>
{% endblock body %}

