{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left voffset2" >{{ group.name }}</h3>
    </div>
    <!--<div class="panel-heading clearfix">
        <h3 class="panel-title" style="padding-top: 7.5px;">{{ 'app.menu.my_profile'|trans }}</h3>
    </div>-->
    <div class="panel-body">
        <div class="row-fluid">
            {% if group.type == 'Fraction' %}
                <div class="col-md-2">
                    <div class="row text-center">
                        <img src="data:image/jpg;base64,{{ photo }}" alt="logo" class="profilePictureLarge center-block img-responsive"/>
                    </div>
                </div>
                <div class="col-md-10">
            {% else %}
                <div class="col-md-12">
            {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label form-control-static">{{ 'app.form.name'|trans }}</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{ group.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label form-control-static">{{ 'app.entity.user'|transchoice(10) }}</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">
                                    {% if users is empty %}
                                        Deze groep bevat geen gebruikers.
                                    {% else %}
                                        {% for user in users %}
                                            <a href="{{ path('profile', {'username': user.username}) }}">{{ user.firstname }} {{ user.lastname }}</a><br />
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if group.type == 'Department' %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label form-control-static">{{ 'app.form.email'|trans }}</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static"><a href="mailto:{{ group.groupinfo.email }}">{{ group.groupinfo.email }}</a></p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label form-control-static">{{ 'app.form.address'|trans }}</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">
                                        <a href="http://maps.google.com/?t=h&q={{ group.groupInfo.address.street }} {{ group.groupInfo.address.nr }} {{ group.groupInfo.address.zipcode }} {{ group.groupInfo.address.city}}">
                                            {{ group.groupInfo.address.street }} {{ group.groupInfo.address.nr }}<br />
                                            {{ group.groupInfo.address.zipcode }} {{ group.groupInfo.address.city}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {#<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label form-control-static">{{ 'app.form.telnumber'|trans }}</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{ userGroup.groupInfo.tel }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label form-control-static">{{ 'app.form.status'|trans }}</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{ 'app.user.status'|transchoice(user.status) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label form-control-static">{{ 'app.entity.organisation'|transchoice(10) }}</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">
                                    {% set var = 0 %}
                                    {% for group in groups %}
                                        {% if group.type == 'Organisation' %}
                                            {% set var = 1 %}
                                            {{ group.name }}<br />
                                        {% endif %}
                                    {% endfor %}
                                    {% if var == 0 %}
                                        {{ 'app.error.none_found'|trans({'%group%': 'app.entity.organisation'|transchoice(10)|lower}) }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label form-control-static">{{ 'app.entity.fraction'|transchoice(10) }}</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">
                                    {% set var = 0 %}
                                    {% for group in groups %}
                                        {% if group.type == 'Fraction' %}
                                            {% set var = 1 %}
                                            {{ group.groupinfo.shortname }}<br />
                                        {% endif %}
                                    {% endfor %}
                                    {% if var == 0 %}
                                        {{ 'app.error.none_found'|trans({'%group%': 'app.entity.fraction'|transchoice(10)|lower}) }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}