{% extends 'base.html.twig' %}
{% block body %}
    {% form_theme form '@App/Form/fields.html.twig' %}
    {#
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.photo) }}

    <div class="col-sm-12 block-center">
        <div id="imagePreview" class="form-control center-block"></div>
    </div>


    {{ form_row(form.description) }}
    {{ form_end(form) }}
    #}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left voffset2">{{ 'app.core.report_problem'|trans }}</h3>
            <div class="btn-group pull-right">
                {{ form_widget(form.Upload, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-3">
                    <div class="row text-center">
                        <div id="imagePreview" class="form-control center-block"></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2">{{ form_label(form.description) }}</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">{{ form_widget(form.description) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2">{{ form_label(form.photo) }}</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">{{ form_widget(form.photo) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2"></label>
                                <div class="col-sm-10">
                                    <p class="form-control-static"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% for report in reports %}
            <div class="col-sm-8 voffset2">
                {{ render(controller('AppBundle:Default:displayPhoto', {'photo': report.photo } )) }}
            </div>
            <div class="col-sm-4 voffset2">
                {{ report.description|raw }}
            </div>
            <br />
        {% endfor %}
    {% endif %}

{% endblock %}
